 body{
    margin: 0em;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
 }
 .nav-bar{
     .name{
         color:#000000;
         margin: 0em;
         padding: .5em;
         font-size: 2rem;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            text-align: center;
        }
     }
 }
 
 .main-section{
     display: flex;
     flex-wrap: wrap;
     margin: .3em;
    justify-content: center;
     .color-box{
        background-color: rgb(0, 0, 0);
        width: 20.9em;
        height: 15em; 
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s;
        .copy-btn{
            color: white;
            text-decoration: none;
            display: none;
            border: white 1px solid;
            border-radius: 2px;
            span{
                margin:1em;
            }
        }
        
        .code-text{
            color: white;
            text-decoration: none;
        }
        
     }
     .color-box:hover{
         -ms-transform: scale(1.1);
         /* IE 9 */
         -webkit-transform: scale(1.1);
         /* Safari 3-8 */
         transform: scale(1.1);

         .copy-btn {
             display: inline;
         }
         .code-text{
             display: none;
         }
     }
     .copy-btn:hover {
         cursor: grab;
     }
     
 }